@tailwind base;
@tailwind components;
@tailwind utilities;



.input-field-select {
    height: 100%;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #cbd5e0;
    padding: 10px 12px;
    font-family: sans-serif;
    color: #374151;
    outline: none;
    transition: all 0.1s;
    text-transform: capitalize;
}

.input-field-option {
    height: 100%;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #cbd5e0;
    padding: 10px 12px;
    font-family: sans-serif;
    color: #374151;
    outline: none;
    transition: all 0.1s;
    text-transform: capitalize;
}

.input-field {
    height: 100%;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #cbd5e0;
    padding: 10px 12px;
    /* px-3 py-2.5 */
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #374151;
    /* blue-gray-700 */
    outline: none;
    transition: all 0.1s;
}


.input-field:focus {
    border-width: 2px;
    border-color: #1f2937;
    /* gray-900 */
    border-top-color: transparent;
    /* outline: none; */
}

.input-field:disabled {
    border: none;
    background-color: #e5e7eb;
    /* blue-gray-50 */
}

.input-label {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: -6px;
    display: flex;
    height: 100%;
    width: 100%;
    user-select: none;
    overflow: visible !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.1;
    color: #6b7280;
    /* gray-500 */
    transition: all 0.2s;
}

.input-label::before,
.input-label::after {
    content: '';
    pointer-events: none;
    margin-top: 6.5px;
    display: block;
    box-sizing: border-box;
    height: 6px;
    width: 10px;
    border-top: 1px solid #cbd5e0;
    /* blue-gray-200 */
    transition: all 0.2s;
}

.input-label::before {
    margin-right: 4px;
    border-left: 1px solid #cbd5e0;
    /* blue-gray-200 */
    border-top-left-radius: 4px;
}

.input-label::after {
    margin-left: 4px;
    border-right: 1px solid #cbd5e0;
    /* blue-gray-200 */
    border-top-right-radius: 4px;
    flex-grow: 1;
}

.input-field:placeholder-shown+.input-label {
    font-size: 14px;
    line-height: 3.75;
    color: #6b7280;
    /* blue-gray-500 */
}

.input-field:placeholder-shown+.input-label::before,
.input-field:placeholder-shown+.input-label::after {
    border-color: transparent;
}

.input-field:focus+.input-label {
    font-size: 11px;
    line-height: 1.1;
    color: #1f2937;
    /* gray-900 */
}

.input-field:focus+.input-label::before,
.input-field:focus+.input-label::after {
    border-top-width: 2px;
    border-color: #1f2937;
    /* gray-900 */
}

.input-field:disabled+.input-label {
    color: transparent;
}

.input-field:disabled+.input-label::before,
.input-field:disabled+.input-label::after,
.input-field:disabled:placeholder-shown+.input-label {
    border-color: transparent;
    color: #6b7280;
    /* blue-gray-500 */
}